{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>GuestBook</title>
</head>
<body>
<h1>Список гостей</h1><br>
<p><a href="{% url 'guest_add'%}">Add new guest</a></p><br>
{% for guest in guests %}
    <h2>{{ guest.name }}</h2>
    <h2>{{ guest.email }}</h2>
    <p>{{ guest.text }}</p>
    <p><a href="{% url 'guest_update' guest.pk %}">Update</a></p>
    <p><a href="{% url 'guest_delete' guest.pk %}">Delete</a></p>
    <br>
{% endfor %}

</body>
</html>